@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewData["Title"] = @Model.Title;
}


<div class="container">
    <div class="col-6">
        @using (Html.BeginForm("Save", "Movies"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new {@class = "form-label mt-2"})
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ReleaseDate, new {@class = "form-label mt-2"})
                @Html.TextBoxFor(m => m.ReleaseDate, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.ReleaseDate)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.GenreId, new {@class = "form-label mt-2"})
                @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select a Genre", new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.GenreId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NumberInStock, new {@class = "form-label mt-2"})
                @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.NumberInStock)
            </div>
            @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary mt-2">Save</button>
        }
    </div>
</div>
